@use 'sass:color';
// JTKeycaps

.jtk-suited-assassin-key,
.jtk-suited-assassin-mod {
  background: #312c2b;
  color: #a79373;
  input,
  .key-contents,
  .key-contents:empty,
  .key-contents::before {
    background: color.adjust(#312c2b, $lightness: -4%);
    color: color.adjust(#a79373, $lightness: 10%);
    border-color: color.mix(#312c2b, #a79373);
  }
}

.jtk-suited-assassin-accent {
  background: #a79373;
  color: #312c2b;
}
