// MT3 Profile

// MT3 3277
.mt3-3277-kb {
  // placeholder
}

.mt3-3277-key {
  background: $color-mt3-abs-3277-alpha;
  color: $color-mt3-abs-3277-legend;
}

.mt3-3277-mod {
  background: $color-mt3-abs-3277-mod;
  color: $color-mt3-abs-3277-legend;
}

.mt3-3277-ortho-kb {
  // placeholder
}

.mt3-3277-ortho-key {
  background: $color-mt3-abs-3277-alpha;
  color: $color-mt3-abs-3277-legend;
}

.mt3-3277-ortho-mod {
  background: $color-mt3-abs-3277-mod;
  color: $color-mt3-abs-3277-legend;
}

.mt3-3277-accent-red-kb {
  // placeholder
}

.mt3-3277-accent-red-key {
  background: $color-mt3-abs-3277-alpha;
  color: $color-mt3-abs-3277-legend;
}

.mt3-3277-accent-red-mod {
  background: $color-mt3-abs-3277-mod;
  color: $color-mt3-abs-3277-legend;
}

.mt3-3277-accent-red-accent-red {
  background: $color-mt3-abs-3277-red;
  color: $color-mt3-abs-3277-legend;
}

// mt3 /dev/tty base graysets
.mt3-dev-tty-key {
  background: $color-mt3-pbt-gray-light;
  color: $color-mt3-pbt-black;
}

.mt3-dev-tty-mod {
  background: $color-mt3-pbt-gray-dark;
  color: $color-mt3-pbt-black;
  input,
  .key-contents {
    background: lighten($color-mt3-pbt-gray-dark, 5%);
    color: $color-mt3-pbt-black;
    border-color: $color-mt3-pbt-black;
  }
}

.mt3-dev-tty-accent {
  background: $color-mt3-pbt-red-back;
  color: $color-mt3-pbt-black;
}

.mt3-dev-tty-kb {
  // placeholder
}

// mt3 /dev/tty teal set
.mt3-dev-tty-teal-key {
  background: $color-mt3-pbt-gray-light;
  color: $color-mt3-pbt-black;
}

.mt3-dev-tty-teal-mod {
  background: $color-mt3-pbt-teal;
  color: $color-mt3-pbt-black;
  input,
  .key-contents {
    background: lighten($color-mt3-pbt-teal, 5%);
    color: $color-mt3-pbt-black;
    border-color: $color-mt3-pbt-black;
  }
}

.mt3-dev-tty-teal-kb {
  // placeholder
}

// mt3 /dev/tty ortho graysets
.mt3-dev-tty-ortho-key {
  background: $color-mt3-pbt-gray-light;
  color: $color-mt3-pbt-black;
}

.mt3-dev-tty-ortho-mod {
  background: $color-mt3-pbt-gray-dark;
  color: $color-mt3-pbt-black;
  input,
  .key-contents {
    background: lighten($color-mt3-pbt-gray-dark, 5%);
    color: $color-mt3-pbt-black;
    border-color: $color-mt3-pbt-black;
  }
}

.mt3-dev-tty-ortho-accent {
  background: $color-mt3-pbt-red-back;
  color: $color-mt3-pbt-black;
}

.mt3-dev-tty-ortho-kb {
  // placeholder
}

// MT3 LOTR
.mt3-lotr-elvish-kb {
  // placeholder
}

.mt3-lotr-elvish-key {
  background: $color-mt3-pbt-elvish-alpha;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-elvish-mod {
  background: $color-mt3-pbt-elvish-mod;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-elvish-rivendell-kb {
  // placeholder
}

.mt3-lotr-elvish-rivendell-key {
  background: $color-mt3-pbt-elvish-alpha;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-elvish-rivendell-mod {
  background: $color-mt3-pbt-elvish-mod;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-elvish-rivendell-accent {
  background: $color-mt3-pbt-elvish-rivendell;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-elvish-evenstar-kb {
  // placeholder
}

.mt3-lotr-elvish-evenstar-key {
  background: $color-mt3-pbt-elvish-alpha;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-elvish-evenstar-mod {
  background: $color-mt3-pbt-elvish-mod;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-elvish-evenstar-accent {
  background: $color-mt3-pbt-elvish-evenstar;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-elvish-ortho-kb {
  // placeholder
}

.mt3-lotr-elvish-ortho-key {
  background: $color-mt3-pbt-elvish-alpha;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-elvish-ortho-mod {
  background: $color-mt3-pbt-elvish-mod;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-dwarvish-ortho-kb {
  // placeholder
}

.mt3-lotr-dwarvish-ortho-key {
  background: $color-mt3-pbt-dwarvish-alpha;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-dwarvish-ortho-mod {
  background: $color-mt3-pbt-dwarvish-mod;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-dwarvish-durin-kb {
  // placeholder
}

.mt3-lotr-dwarvish-durin-key {
  background: $color-mt3-pbt-dwarvish-alpha;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-dwarvish-durin-mod {
  background: $color-mt3-pbt-dwarvish-mod;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-dwarvish-durin-accent {
  background: $color-mt3-pbt-dwarvish-durin;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-dwarvish-kb {
  // placeholder
}

.mt3-lotr-dwarvish-key {
  background: $color-mt3-pbt-dwarvish-alpha;
  color: $color-mt3-pbt-black;
}

.mt3-lotr-dwarvish-mod {
  background: $color-mt3-pbt-dwarvish-mod;
  color: $color-mt3-pbt-black;
}

// mt3 susuwatari base colourway
.mt3-susuwatari-key {
  background: $color-mt3-abs-gray-light;
  color: $color-mt3-abs-white;
}

.mt3-susuwatari-mod-blue {
  background: $color-mt3-abs-gray-dark;
  color: $color-mt3-abs-blue;
  input,
  .key-contents {
    background: darken($color-mt3-abs-gray-dark, 5%);
    color: $color-mt3-abs-blue;
    border-color: $color-mt3-abs-blue;
  }
}

.mt3-susuwatari-mod {
  background: $color-mt3-abs-gray-dark;
  color: $color-mt3-abs-white;
}

.mt3-susuwatari-mod-green {
  background: $color-mt3-abs-gray-dark;
  color: $color-mt3-abs-green;
}

.mt3-susuwatari-accent {
  background: $color-mt3-abs-red-back;
  color: $color-mt3-abs-white;
}

.mt3-susuwatari-accent-red {
  background: $color-mt3-abs-gray-dark;
  color: $color-mt3-abs-red;
}

.mt3-susuwatari-kb {
  // placeholder
}

// mt3 susuwatari ortho colourway
.mt3-susuwatari-ortho-key {
  background: $color-mt3-abs-gray-light;
  color: $color-mt3-abs-white;
}

.mt3-susuwatari-ortho-mod-blue {
  background: $color-mt3-abs-gray-dark;
  color: $color-mt3-abs-blue;
  input,
  .key-contents {
    background: darken($color-mt3-abs-gray-dark, 5%);
    color: $color-mt3-abs-blue;
    border-color: $color-mt3-abs-blue;
  }
}

.mt3-susuwatari-ortho-mod {
  background: $color-mt3-abs-gray-dark;
  color: $color-mt3-abs-white;
}

.mt3-susuwatari-ortho-accent {
  background: $color-mt3-abs-red-back;
  color: $color-mt3-abs-white;
}

.mt3-susuwatari-ortho-lwr {
  background: $color-mt3-abs-gray-dark;
  color: $color-mt3-abs-green;
}

.mt3-susuwatari-ortho-rse {
  background: $color-mt3-abs-gray-dark;
  color: $color-mt3-abs-red;
}

.mt3-susuwatari-ortho-kb {
  // placeholder
}
