.danger-zone-key {
  background: $color-sp-abs-BFU;
  color: $color-sp-abs-YY;
}
.danger-zone-mod {
  background: $color-sp-abs-GSM;
  color: $color-sp-abs-YY;
}
.danger-zone-kb {
}

.modern-selectric-key {
  background: $color-sp-abs-NN;
  color: $color-sp-abs-WFK;
}
.modern-selectric-mod {
  background: $color-sp-abs-BDH;
  color: $color-sp-abs-WFK;
}
.modern-selectric-kb {
}

.oblivion-hagoromo-key {
  background: $color-sp-abs-WFK;
  color: $color-sp-abs-GD;
}
.oblivion-hagoromo-mod {
  background: $color-sp-abs-GD;
  color: $color-sp-abs-GAL;
}
.oblivion-hagoromo-kb {
}

