// Signature Plastics keysets

.danger-zone-key {
  background: $color-sp-abs-BFU;
  color: $color-sp-abs-YY;
  input {
    background: lighten($color-sp-abs-BFU, 40%);
  }
}
.danger-zone-mod {
  background: $color-sp-abs-GSM;
  color: $color-sp-abs-YY;
  input {
    background: lighten($color-sp-abs-GSM, 40%);
  }
}
.danger-zone-kb {
}

.carbon-key {
  background: $color-sp-abs-WBO;
  color: $color-sp-abs-GQM;
  input {
    background: lighten($color-sp-abs-WBO, 40%);
  }
}
.carbon-mod {
  background: $color-sp-abs-GQM;
  color: $color-sp-abs-OBC;
  input {
    background: lighten($color-sp-abs-GQM, 40%);
  }
}

.modern-selectric-key {
  background: $color-sp-abs-NN;
  color: $color-sp-abs-WFK;
  input {
    background: lighten($color-sp-abs-NN, 40%);
  }
}
.modern-selectric-mod {
  background: $color-sp-abs-BDH;
  color: $color-sp-abs-WFK;
  input {
    background: lighten($color-sp-abs-BDH, 40%);
  }
}
.modern-selectric-kb {
}

.nantucket-selectric-key {
  background: $color-sp-abs-WV;
  color: $color-sp-abs-BBI;
  input {
    background: lighten($color-sp-abs-WV, 40%);
  }
}
.nantucket-selectric-mod {
  background: $color-sp-abs-BBI;
  color: $color-sp-abs-YCF;
  input {
    background: lighten($color-sp-abs-BBI, 40%);
  }
}
.nantucket-selectric-kb {
}

.oblivion-hagoromo-key {
  background: $color-sp-abs-WFK;
  color: $color-sp-abs-GD;
  input {
    background: lighten($color-sp-abs-WFK, 40%);
  }
}
.oblivion-hagoromo-mod {
  background: $color-sp-abs-GD;
  color: $color-sp-abs-GAL;
  input {
    background: lighten($color-sp-abs-GD, 40%);
  }
}
.oblivion-hagoromo-kb {
}

// GMK Keysets

.gmk-merlin-key {
  background: $color-gmk-abs-CP;
  color: $color-gmk-abs-TU1;
  input {
    background: lighten($color-gmk-abs-CP, 40%);
  }
}
.gmk-merlin-mod {
  background: $color-gmk-abs-TU1;
  color: $color-gmk-abs-N6;
  input {
    background: lighten($color-gmk-abs-TU1, 40%);
  }
}
.gmk-merlin-kb {
}

.gmk-wob-key {
  background: $color-gmk-abs-CR;
  color: $color-gmk-abs-WS1;
  input {
    background: lighten($color-gmk-abs-CR, 40%);
  }
}
.gmk-wob-mod {
  background: $color-gmk-abs-CR;
  color: $color-gmk-abs-WS1;
  input {
    background: lighten($color-gmk-abs-CR, 40%);
  }
}
.gmk-wob-kb {
}

.gmk-dolch-key {
  background: $color-gmk-abs-CC;
  color: $color-gmk-abs-WS1;
  input {
    background: lighten($color-gmk-abs-CC, 40%);
  }
}
.gmk-dolch-mod {
  background: $color-gmk-abs-N9;
  color: $color-gmk-abs-WS1;
  input {
    background: lighten($color-gmk-abs-N9, 40%);
  }
}
.gmk-dolch-kb {
}

.gmk-olivetti-key {
  background: $color-gmk-abs-CP;
  color: $color-gmk-abs-V4;
  input {
    background: lighten($color-gmk-abs-CP, 40%);
  }
}
.gmk-olivetti-mod {
  background: $color-gmk-abs-U9;
  color: $color-gmk-abs-V4;
  input {
    background: lighten($color-gmk-abs-U9, 40%);
  }
}
.gmk-olivetti-kb {
}

.gmk-olivia-key {
  background: $color-gmk-abs-CP;
  color: #363434;
  input {
    background: lighten($color-gmk-abs-CP, 40%);
  }
}
.gmk-olivia-mod {
  background: #363434;
  color: #e8c4b8;
  input {
    background: lighten(#363434, 40%);
  }
}
.gmk-olivia-accent {
  background: #e8c4b8;
  color: #363434;
}
.gmk-olivia-kb {
}


.gmk-ta-royal-alpha-key {
  background: $color-gmk-abs-3K;
  color: $color-gmk-abs-N7;
  input {
    background: lighten($color-gmk-abs-3K, 40%);
  }
}
.gmk-ta-royal-alpha-mod {
  background: $color-gmk-abs-AE;
  color: $color-gmk-abs-CP;
  input {
    background: lighten($color-gmk-abs-AE, 40%);
  }
}
.gmk-ta-royal-alpha-kb {
  // placeholder
}


.gmk-metaverse-key {
  background: $color-gmk-abs-WS1;
  color: $color-gmk-abs-CR;
}
.gmk-metaverse-mod {
  background: $color-gmk-abs-CR;
  color: $color-gmk-abs-WS1;
}
.gmk-metaverse-accent {
  background: $color-gmk-abs-RO2;
  color: $color-gmk-abs-WS1;
}
.gmk-metaverse-kb {
  // placeholder
}

// Keyreative

.drifter-key {
  background: #e5e1e6;
  color: #222222;
  input {
    background: lighten(#e5e1e6, 40%);
  }
}
.drifter-mod {
  background: #9b2242;
  color: #71dbd4;
  input {
    background: lighten(#9b2242, 40%);
  }
}
.drifter-kb {
}
