// Signature Plastics keysets

.sa-danger-zone-key {
  background: $color-sp-abs-BFU;
  color: $color-sp-abs-YY;
  input, .key-contents {
    background: darken($color-sp-abs-BFU, 10%);
    color: $color-sp-abs-YY;
    border-color: mix($color-sp-abs-BFU, $color-sp-abs-YY);
  }
}
.sa-danger-zone-mod {
  background: $color-sp-abs-GSM;
  color: $color-sp-abs-YY;
  input, .key-contents {
    background: darken($color-sp-abs-GSM, 10%);
    color: $color-sp-abs-YY;
    border-color: mix($color-sp-abs-GSM, $color-sp-abs-YY);
  }
}
.sa-danger-zone-kb {
}

.sa-carbon-key {
  background: $color-sp-abs-WBO;
  color: $color-sp-abs-GQM;
  input, .key-contents {
    background: lighten($color-sp-abs-WBO, 10%);
    color: $color-sp-abs-GQM;
    border-color: mix($color-sp-abs-WBO, $color-sp-abs-GQM);
  }
}
.sa-carbon-mod {
  background: $color-sp-abs-GQM;
  color: $color-sp-abs-OBC;
  input, .key-contents {
    background: darken($color-sp-abs-GQM, 12%);
    color: lighten($color-sp-abs-OBC, 19%);
    border-color: mix($color-sp-abs-GQM, lighten($color-sp-abs-OBC, 19%));
  }
}

.sa-modern-selectric-key {
  background: $color-sp-abs-NN;
  color: $color-sp-abs-WFK;
  input, .key-contents {
    background: lighten($color-sp-abs-NN, 10%);
    color: $color-sp-abs-WFK;
    border-color: mix($color-sp-abs-NN, $color-sp-abs-WFK);
  }
}
.sa-modern-selectric-mod {
  background: $color-sp-abs-BDH;
  color: $color-sp-abs-WFK;
  input, .key-contents {
    background: darken($color-sp-abs-BDH, 10%);
    color: $color-sp-abs-WFK;
    border-color: mix($color-sp-abs-BDH, $color-sp-abs-WFK);
  }
}
.sa-modern-selectric-kb {
}

.sa-nantucket-selectric-key {
  background: $color-sp-abs-WV;
  color: $color-sp-abs-BBI;
  input, .key-contents {
    background: lighten($color-sp-abs-WV, 10%);
    color: $color-sp-abs-BBI;
    border-color: mix($color-sp-abs-WV, $color-sp-abs-BBI);
  }
}
.sa-nantucket-selectric-mod {
  background: $color-sp-abs-BBI;
  color: $color-sp-abs-YCF;
  input, .key-contents {
    background: darken($color-sp-abs-BBI, 10%);
    color: $color-sp-abs-YCF;
    border-color: mix($color-sp-abs-BBI, $color-sp-abs-YCF);
  }
}
.sa-nantucket-selectric-kb {
}

.sa-oblivion-hagoromo-key {
  background: $color-sp-abs-WFK;
  color: $color-sp-abs-GD;
  input, .key-contents {
    background: lighten($color-sp-abs-WFK, 10%);
    color: darken($color-sp-abs-GD, 10%);
    border-color: mix($color-sp-abs-WFK, darken($color-sp-abs-GD, 10%));
  }
}
.sa-oblivion-hagoromo-mod {
  background: $color-sp-abs-GD;
  color: $color-sp-abs-GAL;
  input, .key-contents {
    background: darken($color-sp-abs-GD, 10%);
    color: lighten($color-sp-abs-GAL, 17%);
    border-color: mix($color-sp-abs-GD, lighten($color-sp-abs-GAL, 17%));
  }
}
.sa-oblivion-hagoromo-kb {
}


.sa-jukebox-key {
  background: $color-sp-abs-TM;
  color: $color-sp-abs-RN;
  input, .key-contents {
    background: lighten($color-sp-abs-TM, 10%);
    color: darken($color-sp-abs-RN, 10%);
    border-color: mix($color-sp-abs-TM, darken($color-sp-abs-RN, 10%));
  }
}
.sa-jukebox-mod {
  background: $color-sp-abs-VCO;
  color: $color-sp-abs-RN;
  input, .key-contents {
    background: lighten($color-sp-abs-VCO, 12%);
    color: darken($color-sp-abs-RN, 10%);
    border-color: mix($color-sp-abs-VCO, darken($color-sp-abs-RN, 10%));
  }
}
.sa-jukebox-accent {
  background: $color-sp-abs-RN;
  color: $color-sp-abs-TM;
  input {
    background: lighten($color-sp-abs-RN, 40%);
  }
}
.sa-jukebox-kb {
}

.sa-vilebloom-key {
  background: $color-pantone-7699C;
  color: $color-sp-abs-WFK;
  input, .key-contents {
    background: darken($color-pantone-7699C, 10%);
    color: $color-sp-abs-WFK;
    border-color: mix($color-pantone-7699C, $color-sp-abs-WFK);
  }
}

.sa-vilebloom-mod {
  background: $color-pantone-7699C;
  color: $color-sp-abs-WFK;
  input, .key-contents {
    background: darken($color-pantone-7699C, 10%);
    color: $color-sp-abs-WFK;
    border-color: mix($color-pantone-7699C, $color-sp-abs-WFK);
  }
}

.sa-vilebloom-accent1 {
  background: $color-pantone-474U;
  color: $color-pantone-7699C;
  input {
    background: lighten($color-pantone-474U, 40%);
  }
}

.sa-vilebloom-accent2 {
  background: $color-pantone-177C;
  color: $color-sp-abs-WFK;
  input {
    background: lighten($color-pantone-177C, 40%);
  }
}

.sa-vilebloom-accent3 {
  background: $color-pantone-2046U;
  color: $color-sp-abs-WFK;
  input {
    background: lighten($color-pantone-2046U, 40%);
  }
}

.sa-vilebloom-kb {
}

.dsa-galaxy-class-key {
  background: $color-sp-pbt-BFE;
  color: $color-sp-pbt-BLACK;
  input {
    background: lighten($color-sp-pbt-BFE, 40%);
  }
}
.dsa-galaxy-class-mod {
  // yellow
  background: $color-pantone-141C;
  color: $color-sp-pbt-BLACK;
  input {
    background: lighten($color-pantone-141C, 40%);
  }
}
.dsa-galaxy-class-purple {
  background: $color-sp-pbt-RCB;
  color: $color-sp-pbt-BLACK;
  input {
    background: lighten($color-sp-pbt-RCB, 40%);
  }
}
.dsa-galaxy-class-darker-blue {
  background: $color-sp-pbt-BDJ;
  color: $color-sp-pbt-BLACK;
  input {
    background: lighten($color-sp-pbt-BDJ, 40%);
  }
}
.dsa-galaxy-class-pink {
  background: $color-sp-pbt-RCA;
  color: $color-sp-pbt-BLACK;
  input {
    background: lighten($color-sp-pbt-RCA, 40%);
  }
}
.dsa-galaxy-class-light-blue {
  background: $color-sp-pbt-BFE;
  color: $color-sp-pbt-BLACK;
  input {
    background: lighten($color-sp-pbt-BFE, 40%);
  }
}
.dsa-galaxy-class-gray {
  background: $color-sp-pbt-GQT;
  color: $color-sp-pbt-BLACK;
  input {
    background: lighten($color-sp-pbt-GQT, 40%);
  }
}
.dsa-galaxy-class-kb {
}


// GMK Keysets

.gmk-merlin-key {
  background: $color-gmk-abs-CP;
  color: $color-gmk-abs-TU1;
  input, .key-contents {
    background: lighten($color-gmk-abs-CP, 10%);
    color: darken($color-gmk-abs-TU1, 5%);
    border-color: mix($color-gmk-abs-CP, darken($color-gmk-abs-TU1, 5%));
  }
}
.gmk-merlin-mod {
  background: $color-gmk-abs-TU1;
  color: $color-gmk-abs-N6;
  input, .key-contents {
    background: darken($color-gmk-abs-TU1, 10%);
    color: $color-gmk-abs-N6;
    border-color: mix($color-gmk-abs-TU1, $color-gmk-abs-N6);
  }
}
.gmk-merlin-accent {
  background: $color-gmk-abs-N6;
  color: $color-gmk-abs-TU1;
  input {
    background: lighten($color-gmk-abs-N6, 40%);
  }
}
.gmk-merlin-kb {
}

.gmk-wob-key {
  background: $color-gmk-abs-CR;
  color: $color-gmk-abs-WS1;
  input, .key-contents {
    color: $color-gmk-abs-CR;
    background: lighten($color-gmk-abs-CR, 60%);
  }
}
.gmk-wob-mod {
  background: $color-gmk-abs-CR;
  color: $color-gmk-abs-WS1;
  input, .key-contents {
    color: $color-gmk-abs-CR;
    background: lighten($color-gmk-abs-CR, 40%);
  }
}
.gmk-wob-kb {
}

.gmk-dolch-key {
  background: $color-gmk-abs-CC;
  color: $color-gmk-abs-WS1;
  input, .key-contents {
    background: darken($color-gmk-abs-CC, 10%);
    color: $color-gmk-abs-WS1;
    border-color: mix($color-gmk-abs-CC, $color-gmk-abs-WS1);
  }
}
.gmk-dolch-mod {
  background: $color-gmk-abs-N9;
  color: $color-gmk-abs-WS1;
  input, .key-contents {
    background: darken($color-gmk-abs-N9, 10%);
    color: $color-gmk-abs-WS1;
    border-color: mix($color-gmk-abs-N9, $color-gmk-abs-WS1);
  }
}
.gmk-dolch-kb {
}

.gmk-olivetti-key {
  background: $color-gmk-abs-CP;
  color: $color-gmk-abs-V4;
  input, .key-contents {
    background: lighten($color-gmk-abs-CP, 10%);
    color: darken($color-gmk-abs-V4, 5%);
    border-color: mix($color-gmk-abs-CP, darken($color-gmk-abs-V4, 5%));
  }
}
.gmk-olivetti-mod {
  background: $color-gmk-abs-U9;
  color: $color-gmk-abs-V4;
  input, .key-contents {
    background: lighten($color-gmk-abs-U9, 10%);
    color: darken($color-gmk-abs-V4, 15%);
    border-color: mix($color-gmk-abs-U9, darken($color-gmk-abs-V4, 15%));
  }
}
.gmk-olivetti-kb {
}

.gmk-olivia-key {
  background: $color-gmk-abs-CP;
  color: #363434;
  input, .key-contents {
    background: lighten($color-gmk-abs-CP, 40%);
  }
}
.gmk-olivia-mod {
  background: #363434;
  color: #e8c4b8;
  input, .key-contents {
    color: lighten(#e8c4b8, 20%);
    background: lighten(#363434, 40%);
  }
}
.gmk-olivia-accent {
  background: #e8c4b8;
  color: #363434;
}
.gmk-olivia-kb {
}


.gmk-ta-royal-alpha-key {
  background: $color-gmk-abs-3K;
  color: $color-gmk-abs-N7;
  input {
    background: lighten($color-gmk-abs-3K, 40%);
  }
}
.gmk-ta-royal-alpha-mod {
  background: $color-gmk-abs-AE;
  color: $color-gmk-abs-CP;
  input {
    background: lighten($color-gmk-abs-AE, 40%);
  }
}
.gmk-ta-royal-alpha-kb {
  // placeholder
}


.gmk-metaverse-key {
  background: $color-gmk-abs-WS1;
  color: $color-gmk-abs-CR;
  input, .key-contents {
    background: lighten($color-gmk-abs-WS1, 10%);
    color: $color-gmk-abs-CR;
    border-color: mix($color-gmk-abs-WS1, $color-gmk-abs-CR);
  }
}
.gmk-metaverse-mod {
  background: $color-gmk-abs-CR;
  color: $color-gmk-abs-WS1;
  input, .key-contents {
    color: $color-gmk-abs-WS1;
    background: lighten($color-gmk-abs-CR, 10%);
    color: $color-gmk-abs-WS1;
    border-color: mix($color-gmk-abs-CR, $color-gmk-abs-WS1);
  }
}
.gmk-metaverse-accent {
  background: $color-gmk-abs-RO2;
  color: $color-gmk-abs-WS1;
}
.gmk-metaverse-kb {
  // placeholder
}

.gmk-jamon-key {
  background: #84172c;
  color: #ece4d0;
  input, .key-contents {
    background: darken(#84172c, 10%);
    color: #ece4d0;
    border-color: mix(#84172c, #ece4d0);
  }
}
.gmk-jamon-mod {
  background: #ac2c32;
  color: #ece4d0;
  input, .key-contents {
    background: darken(#ac2c32, 10%);
    color: #ece4d0;
    border-color: mix(darken(#ac2c32, 10%), #ece4d0);
  }
}
.gmk-jamon-accent {
  background: #ece4d0;
  color: #313337;
  input {
    background: lighten(#ece4d0, 40%);
  }
}
.gmk-jamon-kb {
  // placeholder
  background: $color-pantone-533C;
}

.gmk-nautilus-key {
  background: $color-pantone-534C;
  color: $color-gmk-abs-TU2;
  input, .key-contents {
    background: darken($color-pantone-534C, 10%);
    color: lighten($color-gmk-abs-TU2, 5%);
    border-color: mix($color-pantone-534C, lighten($color-gmk-abs-TU2, 5%));
  }
}
.gmk-nautilus-mod {
  background: $color-pantone-533C;
  color: $color-gmk-abs-N6;
  input, .key-contents {
    background: darken($color-pantone-533C, 10%);
    color: $color-gmk-abs-N6;
    border-color: mix($color-pantone-533C, $color-gmk-abs-N6);
  }
}
.gmk-nautilus-accent {
  background: $color-gmk-abs-N6;
  color: $color-pantone-533C;
  input {
    background: lighten($color-gmk-abs-N6, 40%);
  }
}
.gmk-nautilus-kb {
  // placeholder
  background: $color-pantone-533C;
}

.gmk-serika-key {
  background: #ece4d0;
  color: #333732;
  input {
    background: lighten(#ece4d0, 40%);
  }
}
.gmk-serika-mod {
  background: #ffcd00;
  color: #333732;
  input {
    background: lighten(#ffcd00, 40%);
  }
}
.gmk-serika-accent {
  background: #333732;
  color: #ece4d0;
}
.gmk-serika-kb {
}

.gmk-space-cadet-key {
  background: $color-sp-abs-GD;
  color: $color-gmk-abs-CP;
  input {
    background: lighten($color-sp-abs-GD, 40%);
    color: darken($color-gmk-abs-CP, 60%);
  }
  .key-contents {
    background: lighten($color-sp-abs-GD, 40%);
    color: darken($color-gmk-abs-CP, 60%);
  }
}

.gmk-space-cadet-mod {
  background: $color-sp-abs-BFP;
  color: $color-gmk-abs-CP;
  input, .key-contents {
    background: lighten($color-sp-abs-BFP, 10%);
    color: $color-gmk-abs-CP;
  }
}

.gmk-space-cadet-kb {
}

// Keyreative

.dsa-drifter-key {
  background: #e5e1e6;
  color: #222222;
  input {
    background: lighten(#e5e1e6, 40%);
  }
}
.dsa-drifter-mod {
  background: #9b2242;
  color: #71dbd4;
  input {
    background: lighten(#9b2242, 40%);
  }
}
.dsa-drifter-kb {
}
