$color-gmk-abs-CR: rgb(23, 23, 24);
$color-gmk-abs-N9: rgb(57, 59, 59);
$color-gmk-abs-CC: rgb(103, 99, 91);
$color-gmk-abs-2B: rgb(114, 116, 116);
$color-gmk-abs-BJ: rgb(145, 134, 122);
$color-gmk-abs-CB: rgb(155, 146, 132);
$color-gmk-abs-U9: rgb(172, 166, 147);
$color-gmk-abs-L9: rgb(216, 210, 195);
$color-gmk-abs-T9: rgb(195, 195, 186);
$color-gmk-abs-3K: rgb(204, 198, 192);
$color-gmk-abs-2M: rgb(198, 201, 199);
$color-gmk-abs-GR1: rgb(197, 199, 202);
$color-gmk-abs-CP: rgb(225, 219, 209);
$color-gmk-abs-WS1: rgb(247, 242, 234);
$color-gmk-abs-BR1: rgb(101, 60, 37);
$color-gmk-abs-N7: rgb(0, 119, 58);
$color-gmk-abs-AE: rgb(104, 155, 52);
$color-gmk-abs-3B: rgb(118, 142, 114);
$color-gmk-abs-3A: rgb(127, 165, 128);
$color-gmk-abs-V4: rgb(0, 88, 159);
$color-gmk-abs-N5: rgb(0, 132, 194);
$color-gmk-abs-TU1: rgb(0, 98, 122);
$color-gmk-abs-TU2: rgb(0, 164, 169);
$color-gmk-abs-DY: rgb(93, 67, 126);
$color-gmk-abs-RO1: rgb(141, 36, 47);
$color-gmk-abs-P3: rgb(188, 37, 30);
$color-gmk-abs-V1: rgb(208, 47, 28);
$color-gmk-abs-RO2: rgb(221, 17, 38);
$color-gmk-abs-3C: rgb(200, 126, 116);
$color-gmk-abs-MG1: rgb(203, 61, 110);
$color-gmk-abs-V2: rgb(238, 109, 0);
$color-gmk-abs-N6: rgb(229, 161, 0);
$color-gmk-abs-CV: rgb(248, 194, 0);
$color-gmk-abs-GE1: rgb(235, 212, 0);
