// dev/tty
$color-mt3-pbt-teal: #27b6b6;
$color-mt3-pbt-gray-light: #e2e2da;
$color-mt3-pbt-gray-dark: #cecfc9;
$color-mt3-pbt-red-back: #ba1312;
$color-mt3-pbt-black: #000000;
// elvish
$color-mt3-pbt-elvish-alpha: #C3BDAB;
$color-mt3-pbt-elvish-mod: #758C3E;
$color-mt3-pbt-elvish-rivendell: #BB7A2C;
$color-mt3-pbt-elvish-evenstar: #b75e41;
// dwarvish
$color-mt3-pbt-dwarvish-alpha: #ADA890;
$color-mt3-pbt-dwarvish-mod: #786D60;
$color-mt3-pbt-dwarvish-durin: #A05C17;
