$color-mt3-abs-gray-light: #8d8385;
$color-mt3-abs-gray-dark: #454042;
$color-mt3-abs-red-back: #d93136;
$color-mt3-abs-white: #ffffff;
$color-mt3-abs-red: #f0462a;
$color-mt3-abs-blue: #31cfe5;
$color-mt3-abs-green: #cbdd38;
