$color-mt3-pbt-dev-tty-teal: #27b6b6;
$color-mt3-pbt-dev-tty-alpha: #e2e2da;
$color-mt3-pbt-dev-tty-mod: #cecfc9;
$color-mt3-pbt-dev-tty-accent-red: #ba1312;
$color-mt3-pbt-black: #000000;
$color-mt3-pbt-elvish-alpha: #c3bdab;
$color-mt3-pbt-elvish-mod: #758c3e;
$color-mt3-pbt-elvish-rivendell: #bb7a2c;
$color-mt3-pbt-elvish-evenstar: #b75e41;
$color-mt3-pbt-dwarvish-alpha: #ada890;
$color-mt3-pbt-dwarvish-mod: #786d60;
$color-mt3-pbt-dwarvish-durin: #a05c17;
