$color-mt3-abs-gray-light: #8d8385;
$color-mt3-abs-gray-dark: #454042;
$color-mt3-abs-red-back: #d93136;
$color-mt3-abs-white: #ffffff;
$color-mt3-abs-red: #f0462a;
$color-mt3-abs-blue: #31cfe5;
$color-mt3-abs-green: #cbdd38;
$color-mt3-abs-3277-alpha: #9ea2a3;
$color-mt3-abs-3277-mod: #2c3035;
$color-mt3-abs-3277-red: #ba1312;
$color-mt3-abs-3277-legend: #f2f2f2;
