$color-mt3-abs-susu-alpha: #8d8385;
$color-mt3-abs-susu-mod: #454042;
$color-mt3-abs-susu-accent-red: #d93136;
$color-mt3-abs-white: #ffffff;
$color-mt3-abs-susu-legend-red: #f0462a;
$color-mt3-abs-susu-legend-blue: #31cfe5;
$color-mt3-abs-susu-legend-green: #cbdd38;
$color-mt3-abs-3277-alpha: #9ea2a3;
$color-mt3-abs-3277-mod: #2c3035;
$color-mt3-abs-3277-red: #ba1312;
$color-mt3-abs-3277-legend: #f2f2f2;
