$color-pantone-141C: rgb(242, 199, 92);
$color-pantone-533C: rgb(31, 42, 68);
$color-pantone-534C: rgb(27, 54, 93);
$color-pantone-177C: rgb(255, 128, 139);
$color-pantone-2046U: rgb(205, 108, 143);
$color-pantone-474U: rgb(246, 189, 157);
$color-pantone-7699C: rgb(52, 101, 127);
$color-pantone-267C: rgb(95, 36, 159);
$color-pantone-802C: rgb(68, 214, 44);
$color-pantone-3258C: rgb(73, 197, 177);
$color-pantone-536C: rgb(162, 178, 200);
$color-pantone-2378C: rgb(56, 73, 103);
$color-pantone-155C: rgb(239, 209, 159);
$color-pantone-317C: rgb(177, 228, 227);
$color-pantone-7617C: rgb(88, 61, 62);
$color-pantone-13-1406TCX: rgb(245, 209, 200);
$color-pantone-5395C: rgb(9, 31, 44);
$color-pantone-333C: rgb(60, 219, 192);
$color-pantone-142C: rgb(241, 190, 72);
$color-pantone-179C: rgb(224, 60, 49);
$color-pantone-11C: rgb(83, 86, 90);
$color-pantone-311C: rgb(5, 195, 221);
$color-pantone-2345C: rgb(255, 109, 106);
$color-pantone-2088C: rgb(130, 93, 199);
$color-pantone-3395C: rgb(0, 195, 137);
$color-pantone-312C: rgb(0, 169, 206);
$color-pantone-182C: rgb(250, 187, 203);
$color-pantone-183C: rgb(252, 155, 179);
$color-pantone-2346C: rgb(255, 88, 105);
