$color-pantone-141C: rgb(242, 199, 92);
$color-pantone-533C: rgb(31, 42, 68);
$color-pantone-534C: rgb(27, 54, 93);
$color-pantone-177C: rgb(255, 128, 139);
$color-pantone-2046U: rgb(205, 108, 143);
$color-pantone-474U: rgb(246, 189, 157);
$color-pantone-7699C: rgb(52, 101, 127);
$color-pantone-267C: rgb(95, 36, 159);
$color-pantone-802C: rgb(68, 214, 44);
$color-pantone-3258C: rgb(73, 197, 177);
$color-pantone-536C: rgb(162, 178, 200);
$color-pantone-2378C: rgb(56, 73, 103);