$color-sp-abs-BBI: rgb(10, 32, 64);
$color-sp-abs-BBJ: rgb(0, 143, 176);
$color-sp-abs-BBQ: rgb(0, 166, 180);
$color-sp-abs-BDG: rgb(54, 144, 161);
$color-sp-abs-BDH: rgb(0, 86, 153);
$color-sp-abs-BE: rgb(0, 111, 154);
$color-sp-abs-BED: rgb(0, 54, 73);
$color-sp-abs-BEY: rgb(77, 139, 146);
$color-sp-abs-BFJ: rgb(89, 145, 174);
$color-sp-abs-BFK: rgb(0, 81, 144);
$color-sp-abs-BFL: rgb(87, 155, 173);
$color-sp-abs-BFM: rgb(171, 198, 220);
$color-sp-abs-BFN: rgb(26, 138, 183);
$color-sp-abs-BFO: rgb(157, 195, 203);
$color-sp-abs-BFP: rgb(0, 115, 162);
$color-sp-abs-BFQ: rgb(102, 208, 208);
$color-sp-abs-BFR: rgb(41, 54, 73);
$color-sp-abs-BFT: rgb(75, 133, 153);
$color-sp-abs-BFU: rgb(0, 35, 78);
$color-sp-abs-BGA: rgb(0, 70, 109);
$color-sp-abs-BO: rgb(0, 76, 127);
$color-sp-abs-BX: rgb(55, 135, 157);
$color-sp-abs-GA: rgb(148, 147, 143);
$color-sp-abs-GAA: rgb(179, 174, 161);
$color-sp-abs-GAL: rgb(200, 195, 184);
$color-sp-abs-GAW: rgb(174, 163, 142);
$color-sp-abs-GAY: rgb(201, 197, 186);
$color-sp-abs-GB: rgb(48, 49, 46);
$color-sp-abs-GBA: rgb(168, 168, 161);
$color-sp-abs-GC: rgb(85, 86, 87);
$color-sp-abs-GCF: rgb(190, 182, 167);
$color-sp-abs-GCS: rgb(138, 128, 111);
$color-sp-abs-GD: rgb(99, 105, 106);
$color-sp-abs-GDC: rgb(109, 106, 100);
$color-sp-abs-GDV: rgb(147, 140, 131);
$color-sp-abs-GDX: rgb(195, 179, 156);
$color-sp-abs-GE: rgb(95, 92, 82);
$color-sp-abs-GEA: rgb(176, 174, 166);
$color-sp-abs-GEQ: rgb(157, 150, 130);
$color-sp-abs-GER: rgb(199, 195, 181);
$color-sp-abs-GEV: rgb(147, 135, 120);
$color-sp-abs-GEW: rgb(60, 64, 65);
$color-sp-abs-GEZ: rgb(161, 157, 147);
$color-sp-abs-GFD: rgb(204, 196, 179);
$color-sp-abs-GFE: rgb(159, 150, 133);
$color-sp-abs-GFW: rgb(150, 142, 133);
$color-sp-abs-GG: rgb(123, 120, 115);
$color-sp-abs-GGK: rgb(192, 181, 170);
$color-sp-abs-GGM: rgb(167, 167, 162);
$color-sp-abs-GGT: rgb(194, 193, 185);
$color-sp-abs-GJV: rgb(136, 127, 119);
$color-sp-abs-GKH: rgb(168, 168, 166);
$color-sp-abs-GLK: rgb(189, 191, 184);
$color-sp-abs-GLY: rgb(197, 189, 178);
$color-sp-abs-GN: rgb(168, 166, 160);
$color-sp-abs-GO: rgb(117, 116, 110);
$color-sp-abs-GPA: rgb(93, 96, 96);
$color-sp-abs-GPR: rgb(198, 192, 184);
$color-sp-abs-GQM: rgb(70, 71, 70);
$color-sp-abs-GRX: rgb(206, 202, 188);
$color-sp-abs-GRY: rgb(151, 149, 144);
$color-sp-abs-GSC: rgb(139, 142, 142);
$color-sp-abs-GSL: rgb(192, 193, 189);
$color-sp-abs-GSM: rgb(69, 84, 96);
$color-sp-abs-GSP: rgb(125, 129, 129);
$color-sp-abs-GSU: rgb(163, 156, 148);
$color-sp-abs-GSX: rgb(169, 171, 170);
$color-sp-abs-GSY: rgb(129, 124, 116);
$color-sp-abs-GSZ: rgb(55, 55, 56);
$color-sp-abs-GTA: rgb(78, 81, 86);
$color-sp-abs-GTB: rgb(185, 184, 174);
$color-sp-abs-GTC: rgb(149, 150, 141);
$color-sp-abs-GTD: rgb(125, 124, 120);
$color-sp-abs-GTF: rgb(196, 189, 172);
$color-sp-abs-GTG: rgb(146, 146, 137);
$color-sp-abs-GTH: rgb(152, 153, 151);
$color-sp-abs-GTL: rgb(175, 176, 177);
$color-sp-abs-GTM: rgb(149, 144, 131);
$color-sp-abs-GTQ: rgb(215, 209, 193);
$color-sp-abs-GTR: rgb(199, 199, 191);
$color-sp-abs-GTT: rgb(168, 159, 141);
$color-sp-abs-GTV: rgb(136, 132, 119);
$color-sp-abs-GX: rgb(51, 52, 48);
$color-sp-abs-GY: rgb(110, 109, 107);
$color-sp-abs-NN: rgb(33, 34, 36);
$color-sp-abs-OAS: rgb(255, 104, 0);
$color-sp-abs-OAV: rgb(234, 66, 33);
$color-sp-abs-OB: rgb(216, 55, 18);
$color-sp-abs-OBC: rgb(232, 103, 0);
$color-sp-abs-ON: rgb(229, 78, 0);
$color-sp-abs-RA: rgb(186, 19, 18);
$color-sp-abs-RAC: rgb(164, 33, 27);
$color-sp-abs-RAS: rgb(149, 0, 19);
$color-sp-abs-RBC: rgb(115, 54, 54);
$color-sp-abs-RCJ: rgb(166, 152, 197);
$color-sp-abs-RCQ: rgb(193, 17, 0);
$color-sp-abs-RCR: rgb(211, 123, 162);
$color-sp-abs-RCS: rgb(220, 162, 200);
$color-sp-abs-RCU: rgb(221, 97, 81);
$color-sp-abs-RDA: rgb(108, 59, 123);
$color-sp-abs-RDD: rgb(164, 2, 20);
$color-sp-abs-RDE: rgb(89, 34, 84);
$color-sp-abs-RN: rgb(165, 27, 27);
$color-sp-abs-RR: rgb(202, 26, 14);
$color-sp-abs-TAA: rgb(41, 33, 28);
$color-sp-abs-TBN: rgb(72, 53, 39);
$color-sp-abs-TBT: rgb(190, 176, 152);
$color-sp-abs-TEA: rgb(204, 177, 140);
$color-sp-abs-TGG: rgb(149, 134, 111);
$color-sp-abs-TGH: rgb(91, 51, 20);
$color-sp-abs-TM: rgb(217, 201, 168);
$color-sp-abs-TN: rgb(202, 182, 152);
$color-sp-abs-TU: rgb(200, 178, 144);
$color-sp-abs-VAF: rgb(98, 153, 144);
$color-sp-abs-VAG: rgb(36, 156, 120);
$color-sp-abs-VAT: rgb(147, 194, 71);
$color-sp-abs-VAV: rgb(123, 155, 72);
$color-sp-abs-VBQ: rgb(97, 138, 64);
$color-sp-abs-VBV: rgb(93, 206, 186);
$color-sp-abs-VCJ: rgb(0, 123, 69);
$color-sp-abs-VCK: rgb(0, 141, 82);
$color-sp-abs-VCM: rgb(0, 142, 67);
$color-sp-abs-VCO: rgb(105, 208, 165);
$color-sp-abs-VCS: rgb(0, 121, 44);
$color-sp-abs-VF: rgb(91, 124, 91);
$color-sp-abs-VH: rgb(124, 148, 125);
$color-sp-abs-VV: rgb(0, 93, 53);
$color-sp-abs-WA: rgb(228, 222, 221);
$color-sp-abs-WAR: rgb(171, 161, 139);
$color-sp-abs-WBO: rgb(227, 213, 185);
$color-sp-abs-WCK: rgb(238, 226, 208);
$color-sp-abs-WEA: rgb(221, 211, 192);
$color-sp-abs-WFK: rgb(229, 228, 223);
$color-sp-abs-WFM: rgb(225, 216, 205);
$color-sp-abs-WFO: rgb(228, 219, 204);
$color-sp-abs-WQ: rgb(220, 216, 204);
$color-sp-abs-WV: rgb(218, 212, 196);
$color-sp-abs-WW: rgb(224, 214, 198);
$color-sp-abs-YBP: rgb(255, 172, 0);
$color-sp-abs-YCB: rgb(225, 186, 68);
$color-sp-abs-YCC: rgb(245, 215, 147);
$color-sp-abs-YCE: rgb(255, 219, 88);
$color-sp-abs-YCF: rgb(247, 176, 60);
$color-sp-abs-YCH: rgb(242, 199, 0);
$color-sp-abs-YG: rgb(192, 149, 65);
$color-sp-abs-YL: rgb(212, 134, 0);
$color-sp-abs-YW: rgb(196, 133, 44);
$color-sp-abs-YY: rgb(248, 204, 42);
$color-sp-abs-YCA: rgb(194, 192, 169);
