$color-sp-pbt-BCT: rgb(0, 117, 173);
$color-sp-pbt-BDJ: rgb(39, 144, 194);
$color-sp-pbt-BDO: rgb(0, 155, 202);
$color-sp-pbt-BFB: rgb(0, 120, 163);
$color-sp-pbt-BFC: rgb(167, 208, 219);
$color-sp-pbt-BFD: rgb(46, 110, 166);
$color-sp-pbt-BFE: rgb(149, 191, 232);
$color-sp-pbt-BFF: rgb(81, 192, 221);
$color-sp-pbt-BFG: rgb(121, 187, 236);
$color-sp-pbt-BFH: rgb(64, 143, 179);
$color-sp-pbt-BFV: rgb(93, 205, 227);
$color-sp-pbt-BFW: rgb(52, 164, 185);
$color-sp-pbt-BLACK: rgb(13, 13, 11);
$color-sp-pbt-GAH: rgb(129, 129, 126);
$color-sp-pbt-GCA: rgb(180, 178, 171);
$color-sp-pbt-GCH: rgb(160, 152, 136);
$color-sp-pbt-GDE: rgb(144, 149, 150);
$color-sp-pbt-GDL: rgb(172, 164, 148);
$color-sp-pbt-GDM: rgb(200, 196, 184);
$color-sp-pbt-GEC: rgb(146, 147, 144);
$color-sp-pbt-GGX: rgb(174, 174, 171);
$color-sp-pbt-GHO: rgb(175, 176, 174);
$color-sp-pbt-GJQ: rgb(130, 128, 122);
$color-sp-pbt-GJW: rgb(143, 135, 127);
$color-sp-pbt-GKK: rgb(196, 200, 197);
$color-sp-pbt-GKL: rgb(155, 147, 129);
$color-sp-pbt-GKP: rgb(141, 136, 122);
$color-sp-pbt-GMC: rgb(171, 172, 171);
$color-sp-pbt-GQC: rgb(161, 157, 145);
$color-sp-pbt-GQJ: rgb(186, 188, 186);
$color-sp-pbt-GQN: rgb(195, 185, 170);
$color-sp-pbt-GQP: rgb(164, 157, 151);
$color-sp-pbt-GQT: rgb(82, 85, 84);
$color-sp-pbt-GRA: rgb(193, 192, 183);
$color-sp-pbt-GRZ: rgb(174, 176, 176);
$color-sp-pbt-GSE: rgb(123, 120, 113);
$color-sp-pbt-GSF: rgb(45, 50, 56);
$color-sp-pbt-GSG: rgb(199, 192, 181);
$color-sp-pbt-GSJ: rgb(191, 192, 192);
$color-sp-pbt-GSK: rgb(162, 162, 166);
$color-sp-pbt-GSN: rgb(186, 183, 173);
$color-sp-pbt-GSO: rgb(155, 152, 141);
$color-sp-pbt-GSQ: rgb(130, 134, 135);
$color-sp-pbt-GTK: rgb(200, 193, 177);
$color-sp-pbt-GTP: rgb(146, 140, 125);
$color-sp-pbt-NQ: rgb(43, 44, 46);
$color-sp-pbt-OAL: rgb(255, 109, 26);
$color-sp-pbt-OAX: rgb(255, 121, 33);
$color-sp-pbt-OAY: rgb(255, 176, 123);
$color-sp-pbt-OAZ: rgb(241, 111, 59);
$color-sp-pbt-OBB: rgb(255, 127, 34);
$color-sp-pbt-OT: rgb(244, 121, 30);
$color-sp-pbt-OW: rgb(192, 71, 44);
$color-sp-pbt-RAA: rgb(193, 60, 57);
$color-sp-pbt-RAG: rgb(226, 103, 87);
$color-sp-pbt-RAR: rgb(203, 47, 42);
$color-sp-pbt-RBD: rgb(211, 25, 41);
$color-sp-pbt-RBH: rgb(184, 27, 36);
$color-sp-pbt-RBR: rgb(205, 46, 49);
$color-sp-pbt-RCA: rgb(210, 144, 180);
$color-sp-pbt-RCB: rgb(133, 126, 177);
$color-sp-pbt-RCC: rgb(209, 60, 66);
$color-sp-pbt-RCD: rgb(191, 186, 209);
$color-sp-pbt-RCE: rgb(108, 102, 128);
$color-sp-pbt-RCF: rgb(199, 72, 82);
$color-sp-pbt-RCG: rgb(255, 178, 210);
$color-sp-pbt-RCH: rgb(255, 173, 206);
$color-sp-pbt-RCK: rgb(200, 51, 55);
$color-sp-pbt-RCL: rgb(243, 150, 171);
$color-sp-pbt-RCM: rgb(155, 100, 130);
$color-sp-pbt-RCP: rgb(205, 47, 44);
$color-sp-pbt-TGJ: rgb(73, 33, 13);
$color-sp-pbt-TT: rgb(192, 164, 128);
$color-sp-pbt-UP: rgb(227, 226, 221);
$color-sp-pbt-VAL: rgb(108, 162, 157);
$color-sp-pbt-VAZ: rgb(0, 144, 87);
$color-sp-pbt-VBD: rgb(147, 201, 183);
$color-sp-pbt-VCA: rgb(0, 152, 126);
$color-sp-pbt-VCB: rgb(133, 187, 168);
$color-sp-pbt-VCC: rgb(69, 184, 102);
$color-sp-pbt-VCD: rgb(0, 109, 89);
$color-sp-pbt-VCE: rgb(122, 218, 189);
$color-sp-pbt-VCG: rgb(11, 171, 78);
$color-sp-pbt-VCH: rgb(0, 164, 119);
$color-sp-pbt-VCR: rgb(0, 131, 62);
$color-sp-pbt-VCT: rgb(11, 171, 74);
$color-sp-pbt-VS: rgb(36, 83, 67);
$color-sp-pbt-WAN: rgb(232, 231, 227);
$color-sp-pbt-WAS: rgb(223, 218, 207);
$color-sp-pbt-WAT: rgb(194, 190, 177);
$color-sp-pbt-WBK: rgb(226, 219, 202);
$color-sp-pbt-WBR: rgb(199, 195, 180);
$color-sp-pbt-WCS: rgb(195, 191, 174);
$color-sp-pbt-WCV: rgb(208, 198, 185);
$color-sp-pbt-WCX: rgb(229, 219, 202);
$color-sp-pbt-WDG: rgb(241, 237, 230);
$color-sp-pbt-WFJ: rgb(217, 218, 224);
$color-sp-pbt-WFN: rgb(200, 196, 182);
$color-sp-pbt-YAF: rgb(255, 224, 141);
$color-sp-pbt-YAM: rgb(255, 209, 0);
$color-sp-pbt-YAS: rgb(249, 205, 49);
$color-sp-pbt-YBT: rgb(244, 220, 156);
$color-sp-pbt-YBV: rgb(250, 208, 61);
$color-sp-pbt-YBX: rgb(213, 213, 75);
$color-sp-pbt-YBZ: rgb(212, 135, 42);
$color-sp-pbt-YCJ: rgb(232, 169, 0);
$color-sp-pbt-YR: rgb(255, 193, 0);
