@use 'qmk_colors';
// default theme
html {
  body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #222;
    }
    h2 {
      color: #393939;
    }
    h3,
    h4,
    h5,
    h6 {
      color: #494949;
    }
    th,
    td {
      border-color: #e5e5e5;
    }
    blockquote {
      border-color: #e5e5e5;
    }
    // @see https://sass-lang.com/documentation/breaking-changes/mixed-decls/
    & {
      background-color: qmk_colors.$qmk-white;
      color: #333;
    }
    #app {
      color: #2c3e50;
    }
    .settings-panel--group {
      background-color: #eee;
    }
    .settings-panel--subtitle {
      color: #777;
    }
    #chatter-threshold {
      background-color: #eeeeee;
      border: none;
    }
    .tester-key.detected.chatter-detected,
    .tester-key.chatter-detected {
      background-color: rgb(233, 107, 107);
    }
    #favorite-keyboard,
    #favorite-colorway {
      color: grey;
      &.active {
        color: qmk_colors.$qmk-green;
      }
    }
    .embedded-tutorial {
      background-color: #ddd;
    }
    .help {
      color: blue;
    }
    .fixed p {
      background: #fff;
    }

    .key:empty {
      background: #eee;
    }

    .key:empty:before {
      color: #ccc;
    }

    .key .remove {
      color: inherit;
    }
    .keycode {
      background: #fff;
      border-color: #ccc;
    }
    .keycode[title]:before {
      border-left-color: rgba(0, 0, 0, 0);
      border-top-color: #fff;
    }
    .beta-button {
      background: #4b0082;
      color: #ffa500;
    }
    .tab {
      background: #fff;
      border-color: #ccc;
      &.active {
        background: #eee;
      }
    }
    .tester-key {
      background: qmk_colors.$qmk-grey-light;
      cursor: default;
      &.active {
        background: green;
      }
      &.detected {
        background: lightgreen;
      }
    }
    .layout-selector-container {
      select {
        border-color: #cdcdcd;
      }
    }
    .letter-display {
      color: rgba(0, 0, 0, 0.7);
    }
    .veil-container {
      background: rgba(0, 0, 0, 0.4);
    }
    .letter-key-code,
    .letter-code,
    .letter-key {
      background-color: qmk_colors.$qmk-grey-light;
      border-color: rgba(0, 0, 0, 0.7);
    }
    .status-log {
      background: #272822;
      color: #f8f8f2;
      border-color: #000;
    }
    .key-label,
    .keycode-label,
    .code-label {
      color: rgba(0, 0, 0, 0.5);
    }
    .layout-btn-select {
      background-color: #c3c3c3;
      color: white;
      border-color: #000;
      &.active {
        background-color: #49ad4c;
      }
    }
    span.log-green {
      color: lightgreen;
    }
    .key.overme {
      background: #cceecc !important;
      color: #333;
    }
    .tab-area {
      background: #eee;
      border-color: #ccc;
    }
    .keycode-select {
      border-color: green !important;
    }
    .keycode-text:after,
    .keycode-container:after,
    .keycode-layer-container:after,
    .keycode-layer:after {
      border-color: #ccc;
      background: #eee;
    }
    .backend-status {
      background: #272822;
      color: #bbb;
    }
    #keycodes {
      background: #fff;
      border-color: #ccc;
    }

    .bes-status {
      color: #fff;
    }

    .bes-discord {
      a {
        color: #c63;
      }
      a:hover {
        color: #f96;
      }
    }
    .bes-error {
      color: red;
    }
    .key-contents:empty:before {
      color: #ccc;
    }
    .info-msg {
      background: #add8e6;
      color: #222;
    }
    .key-contents.active-key {
      background: #d4f9d1;
    }
    .input-url-modal {
      background-color: #eee;
      border-color: #ccc;
      button {
        background-color: #49ad4c;
        color: #fff;
      }
    }
    #url-import-field {
      border-color: #cdcdcd;
    }
    .label-button {
      background-color: #49ad4c;
      color: white;
      border-color: #000;
    }
    .spinner {
      .message,
      .status {
        color: #eee;
      }
    }
    .key-layer-input.input-error {
      outline-color: red;
      border-color: red;
    }
    .warning {
      color: orange;
    }
    .key-contents:empty {
      background: #eee;
    }
    .key-contents {
      border-color: #22ffd8;
      background: #fff;
      &.overme {
        background: #cceecc;
      }
    }
    .key.active-key {
      background: #d4f9d1;
    }
    #visual-keymap {
      background: #fff;
      border-color: #fff;
    }
    #controller-top {
      background: #eee;
      border-color: #ccc;
    }
    #keymap-name {
      border-color: #cdcdcd;
    }
    .topctrl .v-select {
      background: white;
    }

    .print-keymap {
      background: #fff;
      border-color: #fff;
    }

    .ui-button {
      background-color: #49ad4c;
      color: white;
      &:hover {
        background-color: #50ba51;
      }
      &:disabled {
        background: #ccc;
        color: #999;
      }
    }
    #terminal {
      background: #272822;
      border-color: #ccc;
      color: #f8f8f2;
    }
    #toggle-terminal-chevron {
      color: #f8f8f2;
    }
    #toggle-terminal.collapsed #toggle-terminal-chevron {
      color: unset;
    }
    #controller-bottom {
      background: #eee;
      border-color: #ccc;
    }
    .layers {
      background: #fff;
    }
    .layer {
      background: #fff;
      color: #ccc;
      border-color: #ccc;

      &:hover {
        background: #eee;
      }
      &.active {
        background: #ccc;
        color: #fff;
      }
      &.non-empty {
        color: #000;
        &.active {
          color: #fff;
        }
      }
    }
    header h1 a {
      color: inherit;
    }

    pre {
      color: #666;
      background-color: #f8f8f8;
      border-color: #e5e5e5;
    }
    dt {
      color: #444;
    }
    th {
      color: #444;
    }
    strong {
      color: #222;
    }
    hr {
      background: #e5e5e5;
    }
    a {
      color: #39c;
      &:hover {
        color: #069;
      }
      small {
        color: #777;
        &:hover {
          color: #777;
        }
      }
    }
  }
}
// Dark theme
html[data-theme='dark'] {
  body {
    color: qmk_colors.$qmk-white;
    background-color: qmk_colors.$qmk-dark-bg;
    h3 {
      color: #ddd;
    }
    th,
    td {
      color: #bbb;
      border-color: #444;
    }
    .print-keymap {
      background: #464646;
      border-color: #464646;
      .key {
        background-color: #353535;
      }
    }
  }
  header h1 a {
    color: qmk_colors.$qmk-grey-light;
    &:hover {
      color: qmk_colors.$qmk-grey;
    }
  }
  #controller-top,
  #controller-bottom {
    background-color: qmk_colors.$qmk-grey-dark;
    color: qmk_colors.$qmk-grey-light;
    border-color: #555;
  }
  .input-url-modal {
    background-color: qmk_colors.$qmk-grey-dark;
    border-color: #555;
  }
  .tester-key {
    background: #0c0c0c;
    &.detected {
      color: qmk_colors.$qmk-black;
    }
  }
  #terminal {
    border-color: #555;
  }
  #toggle-terminal-label {
    color: #f8f8f2;
  }
  #toggle-terminal-chevron {
    color: #f8f8f2;
  }
  #toggle-terminal.collapsed #toggle-terminal-chevron {
    color: #f8f8f2;
  }
  #visual-keymap {
    background: qmk_colors.$qmk-grey-dark;
    border-color: qmk_colors.$qmk-grey-dark;
  }
  .info-title {
    color: qmk_colors.$qmk-grey-light;
  }
  .help {
    color: #1db6ff;
  }
  .backend-status {
    background: #131411;
  }
  #keycodes {
    background-color: inherit;
  }
  .info-msg {
    background: #194452;
    color: #ddd;
  }
  .tab-area {
    background: qmk_colors.$qmk-grey-dark;
    border-color: #555;
  }
  .keycode-text:after,
  .keycode-container:after,
  .keycode-layer-container:after,
  .keycode-layer:after {
    border-color: #353535;
    background: #1d1d1d;
  }
  .letter-key-code,
  .letter-code,
  .letter-key {
    background-color: qmk_colors.$qmk-grey-dark;
    color: qmk_colors.$qmk-grey-light;
  }
  #app {
    color: qmk_colors.$qmk-grey-light;
  }
  .settings-panel--group {
    background-color: #383838;
  }
  .settings-panel--subtitle {
    color: #bbb;
  }
  .tab {
    background-color: #444;
    border-color: #555;
    &.active {
      color: qmk_colors.$qmk-grey-light;
      background-color: #464646;
    }
  }

  .keycode {
    background: #1c1c1c;
    color: white;
    border-color: #0e0e0e;
  }
  .layers {
    background-color: qmk_colors.$qmk-dark-bg;
  }
  .key {
    &:empty {
      background: #353535;
    }
    &:empty:before {
      color: #ccc;
    }
  }
  .slideout-panel .slideout-wrapper .slideout {
    background-color: qmk_colors.$qmk-grey-dark;
    color: qmk_colors.$qmk-grey-light;
    h2 {
      color: qmk_colors.$qmk-grey-light;
    }
  }
  .layer {
    background: qmk_colors.$qmk-grey-dark;
    border-color: #5a5a5a;
    color: #999;
    &:hover {
      background: #eee;
      color: #000;
    }
    &.active {
      background: #ccc;
      color: #000;
      &.non-empty {
        color: #000;
      }
    }
    &.non-empty {
      color: qmk_colors.$qmk-grey-light;
      &:hover {
        color: #000;
      }
    }
  }

  @media print {
    body {
      background-color: qmk_colors.$qmk-white;
      color: qmk_colors.$qmk-dark-bg;
      th {
        color: #444444;
      }
      a {
        color: #39c;
      }
      .print-keymap {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #2c3e50;
        .key,
        .key:empty {
          -webkit-print-color-adjust: exact; /* Chrome, Safari, Edge, Opera */
          print-color-adjust: exact; /* Standard property for Firefox and modern browsers */
          background-color: #ffffff;
        }
        .key.disabled {
          -webkit-print-color-adjust: exact; /* Chrome, Safari, Edge, Opera */
          print-color-adjust: exact; /* Standard property for Firefox and modern browsers */
          background: #dddddd;
        }
      }
    }
    #app {
      color: #111111;
    }
  }

  .random-potato {
    color: #eeeeee;
  }
}
